<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nicod Simon and Mourcely Julien{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'partials/navbar.html.twig' %}
    <div class="container">
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
</body>
</html>
